# Ignore full dataset folder (images + labels)
yolo_hotspot_dataset/

# Ignore training weights folder only
hotspot_runs/train/weights/

# Allow tracking of training result images and CSV
!hotspot_runs/train/*.png
!hotspot_runs/train/*.csv

# Ignore cache files
*.cache


# Ignore Python cache
__pycache__/
*.pyc
